#corpoEsqSenha{
    height: 100vh;
    width: 100%;

    background-color: #2D5287;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

}

#formularioEsquceuSenha {
    height: 300px;
    width: 310px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    margin: 8px;
}

#Submit {
    width: 320px;
    height: 50px;

    border-radius: 20px;
    background-color: #2D5287;
    color: #fff;

    border: 1px solid #ccc;

    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 14px;
    padding: 8px;

    cursor: pointer;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.logosRedesSociais {
    height: 55px;
    width: 180px;

    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 8px;
}

#textoDeAtorizacao {
    text-align: center;
}

#msgTemp{
    height: 28.54px;
    width: 100%; 

    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDeVoltarEsqSenha{
    background-color: #2D5186;

    background-image: url('../../imgs/arrowBackIcon.png');
    background-size: cover;
    position: absolute;

    left: 20px;
}

#btnDeVoltarEsqSenha:hover{
    background-color: #3d6baf;

    cursor: pointer;

    background-image: url('../../imgs/arrowBackIcon.png');
    background-size: cover;
    position: absolute;

    left: 20px;
}

